h3 {
    font-size:30px !important;

}
.btn-danger:hover {
  background-color:blue;

}
canvas {
    animation-name:example;
    animation-duration:2s;
    animation-iteration-count:infinite;

}
@keyframes example {
    from {
        box-shadow: 3px 3px 40px red;

    }
    to {
        box-shadow: 3px 3px 40px blueviolet;
    }
}
body {
    background-color:darksalmon;
}